.help{

}

.help__inner{

}

.help__title{
    text-align: center;
    max-width: 308px;
}

.help__content{

}

.help__list{
    display: flex;
    flex-wrap: wrap;
    gap: 55px 120px;
    justify-content: center;
}

.help__name{

}

.help__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 113px;
}

.help__img{
    width: 60px;
    height: 60px;
}