.pets{
    background: var(--color-light-l);
}

.pets__inner{
    position: relative;
}

.pets__title{
    max-width: 400px;
    text-align: center;
}

.pets__btns{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 49%;
}

.left:hover > svg > rect,
.rigth:hover > svg > rect{
    border-color: transparent;
    stroke: var(--color-primary-light);
    fill: var(--color-primary-light);
    transition: all 0.5s;
}

.slider__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 90px;
}

.slider__card{
    background: var(--color-light-s);
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    padding-bottom: 30px;
    border-radius: 9px;
    cursor: pointer;
}

.slider__img{
    border-radius: 9px 9px 0 0;
    height: 270px;
}

.slider__link{
    border: 2px solid var(--color-primary);
    text-align: center;
    font-size: 19px;
    border-radius: 100px;
    padding: 15px 0;
    width: 187px;
    height: 52px;
}

.slider__card:hover > .slider__link{
    border-color: transparent;
    background: var(--color-primary-light);
    transition: all 0.5s;
}

.pets__link{
    width: 261px;
    height: 52px;
    font-size: 19px;
}

